.secondDiv {    
    width: auto;   
    display: flex;
    margin: 50px;
}

section {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
}

h4 {
    font-size: 20px;
    color: gray;
    text-align: left;
}

p {
    font-size: 15px;
    color: gray;
    text-align: left;
}